{% extends "BlogBundle::frontend.html.twig" %}
{% block title %} {{ 'All Tags'|trans }} {% endblock %}
{% block content %}
  <ul>
    {% for tag in pagination %}
      <li><a href="{{ path('_blog_tag', { 'slug' : tag.slug }) }}">{{ tag }}</a> ({{ tag.items }} {{ 'entries'|trans }})</li>
    {% else %}
      <li>{{ 'No elements'|trans }}</li>
    {% endfor %}
  </ul>
  <div class="navigation">{{ knp_pagination_render(pagination) }}</div>
{% endblock %}